@charset "UTF-8";

:root {
  --primary-color: #f8ab37;
  --primary-color-on: #f1d78c;
  --btn-primary-bgcolor: #f8ab37;
  --btn-secondary-bgcolor: #2f2a1b;
  
  --bs-body-bg: #f8f7fa;
  --secondary-color: #f1f1f2;
  --secondary-color-on: #c3c3cc;
  --btn-gray-bgcolor: #b0b0b1;
  --txt-default-color: #000000;
  --txt-plus-color: #12b25d;
  --txt-minus-color: #ef3a66;
  --txt-zero-color: #333333;
  --txt-gray-color: #808183;
  --bs-body-font-family: "Gowun Batang", sans-serif;
  --bs-side-font-family: "Do Hyeon", sans-serif;
  --bs-en-font-abel-family: "Abel", sans-serif;
  --bs-en-font-oxygen-family: "Oxygen", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  padding-top: env(safe-area-inset-top);
  font-family: var(--bs-body-font-family);
  line-height: 1.4;
  font-size: 16px;
  color: var(--txt-default-color);
  background-color: var(--main-bgcolor);
}
* {
  font-family: var(--bs-body-font-family);
  letter-spacing: -0.3px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*스크롤바숨기기*/
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/*클릭시 파란박스 숨기기*/
* {
  -webkit-tap-highlight-color: transparent;
}

/*common*/
hr {
  height: 1px;
  margin: 20px 0;
  background: #e8e8e8;
  border: 0;
}
i {
  font-style: normal;
}
/* main */
.ff_01{ 
  font-family: var(--bs-body-font-family);
}
/*  */
.ff_02{ 
  font-family: var(--bs-side-font-family);
}
.txtlink {
  color: var(--primary-color) !important;
}
/* flex-center */
.flex_center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex_center.row{
  flex-direction: row;
  align-items: flex-start;
}
button.confirm_btn {
  background-color: var(--btn-primary-bgcolor);
  border-radius: 5px;
  width: 80px;
  height: 40px;
  font-size: 1em;
  color: #fff;
}
.btn_type_01 {
  background-color: var(--btn-secondary-bgcolor);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 1em;
  color: #fff;
}
.txt-plus {
  color: var(--txt-plus-color);
}
.txt-minus {
  color: var(--txt-minus-color);
}
/* transition */
.fade-enter-from {
  opacity: 0;
  transform: translateY(100px);
}
.fade-enter-active {
  transform: translateY(50px);
}
.fade-enter-to {
  opacity: 1;
  transition: all 0.5s linear;
  transform: translateY(0);
}

/* Form ------------------------------------------------------*/

select {
    width: 100%;
    max-width: 287px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 10px;
    font-size: 100%;
    background: #fff url("@/assets/img/icon_select_arrow.png") no-repeat right
      10px center;
    background-size: 11px;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  select:focus {
    transition: all 0.5s ease;
  }

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 400;
  outline: none;
  border: 0;
}
input::placeholder {
  color: #ddd;
}
input:disabled {
  color: #777;
  background: #f3f3f3 !important;
  -webkit-text-fill-color: #1d1c1c;
  opacity: 1;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="week"],
input[type="month"],
input[type="time"],
input[type="datetime-local"],
input[type="search"] {
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  padding: 10px;
  border-radius: 6px;
  font-size: 1em;
}
input[type="file"] {
  display: block;
  font-size: 14px;
  color: #999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="file"]:focus,
input[type="search"]:focus {
  border: solid 1px var(--btn-primary-bgcolor);
}
textarea:focus {
  outline: none;
  border: solid 1px var(--btn-primary-bgcolor);
}

/* input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    font-size: 14px;
    display: inline-block;
    padding-left: 28px;
    line-height: 24px;
    background: url("../images/icon_check_off.png") 0 center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + label {
    background-image: url("../images/icon_check_on.png");
  }
  input[type="checkbox"]:disabled + label {
    background-image: url("../images/icon_check_disabled.png");
    opacity: 0.5;
  }
  
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    font-size: 14px;
    display: inline-block;
    padding-left: 32px;
    line-height: 20px;
    background: url("../images/icon_radio_off.png") 0 center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
  }
  input[type="radio"]:checked + label {
    background-image: url("../images/icon_radio_on.png");
  }
  input[type="radio"]:disabled + label {
    background-image: url("../images/icon_radio_disabled.png");
    opacity: 0.5;
  } */

/* main */
.main_wrap {
  padding-top: 200px;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  flex: 1;
}
.main_wrap.main_wt {
  width: 100%;
  max-width: 100%;
}
.layout_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  overflow: auto;
}

/* icon */
.sm_icon {
  width: 18px;
  margin-right: 5px;
}
/* tab category */
.tab_cat_01 {
  display: flex;
  align-items: center;
  width: 100%;
}
.tab_cat_01 li {
  background-color: #cdcdcc;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.tab_cat_01 li.active {
  background-color: #000;
}

.tab_cat_02 {
  display: flex;
  align-items: center;
  width: 100%;
}
.tab_cat_02 li {
  position: relative;
  padding: 10px;
  margin-right: 10px;
}
.tab_cat_02 li:first-child{
  margin-left: 10px;
}
.tab_cat_02 li::before{
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  content: "";
  background-color: #857779;
  width: 5px;
  height: 10px;
}
.tab_cat_02 li.active {
  font-weight: 700;
}

.tab_cat_03 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tab_cat_03 li {
  width: 25%;
  text-align: center;
  padding: 20px 10px;
  background-color:  #fff;
  color :#1687ff;
  border-right: 1px solid #b1d7ff;
  font-size: 20px;
}
.tab_cat_03 li:last-child{
  border:none;
}
.tab_cat_03 li.active {
  font-weight: 700;
  background-color :#1687ff;
  color: #fff;
}

/* slider */
.slider_area{
  width: 60%;
  min-width: 400px;
  height: 420px;
  padding: 10px;
  border : 2px solid #fff;
  border-radius: 8px;
  background-color: #fff;
}
.slider_area .carousel__item {
  background-color: #fff;
}
.slider_area .carousel__pagination-button::after{
  background-color: #e2e2e2;
}
.slider_area .carousel__pagination-button--active::after{
  background-color: #ff802b;
}
.slide_img {
width: 300px;
padding:20px;
}
.carousel__item {
min-height: 300px;
width: 100%;
background-color: #e7e5e5;
color: var(--vc-clr-white);
font-size: 20px;
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.carousel__slide {
padding: 10px;
}
.carousel__prev,
.carousel__next {
box-sizing: content-box;
border: 5px solid white;
}